.card
{
    padding: 1.25em 1.5em;
}

.card__conteudo
{
    width: 100%;
    background-color: var(--branco-principal);
    padding: 1em;
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
}

.card__conteudo__texto
{
    display: flex;
    flex-direction: column;
    gap: .5em;
}

.card__conteudo__texto__estrelas
{
    width: 91px;
}

.card__conteudo__texto__destaque
{
    color: var(--laranja-titulo);
    font-weight: 700;
    display: block;
    line-height: 24px;
}

.card__conteudo__texto__titulo
{
    color: var(--azul-escuro-texto);
    font-size: 1.125em;
    font-weight: 700;
    line-height: 27px;
}

.card__conteudo__texto__descricao
{
    font-size: 0.875em;
    line-height: 21px;
    width: 90%;
}

.card__conteudo__banner__logo
{
    width: 100%;
}

.card__conteudo__botoes
{
    display: flex;
    width: 65%;
    justify-content: space-around;
}

.card__conteudo__saiba_mais__botao
{
    background: var(--laranja-titulo);
    font-weight: 700;
    color: var(--branco-principal);
    height: 100%;
    box-sizing: border-box;

    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (min-width: 1024px) 
{
    .card
    {
        padding: 3.75em 1.5em;
        
        display: flex;
        justify-content: center;
    }
    
    .card__conteudo
    {
        width: 62%;
        grid-template-columns: auto auto;
        column-gap: 4.675em;
    }

    .card__conteudo__botoes
    {
        width: auto;
        justify-content: flex-start;
        gap: 1.75em;
    }

    .card__conteudo__saiba_mais__botao:hover
    {
        background: var(--gradiente-laranja);
    }
}

@media screen and (min-width: 1728px) 
{
    .card
    {
        padding: 0;
        display: inline-block;
        width: 40%;
    }

    .card__conteudo
    {
        width: 100%;
    }
    
    .card__conteudo__texto__destaque
    {
        font-size: 2em;
    }

    .card__conteudo__texto__descricao
    {
        font-size: 1em;
    }
}