.cabecalho
{
    font-size: 1rem;
    background-color: var(--branco);
    width: 100%;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: space-between;
}

.cabecalho__icones
{
    display: flex;
    align-items: stretch;
}

#menu_checkbox
{
    display: none;
}

.cabecalho__icones__menu
{
    width: 36px;
    padding: 1em;
}

#menu_checkbox:checked + .cabecalho__icones__menu
{
    background: var(--gradiente-azul-escuro);
}

.cabecalho__icones__menu__imagem
{
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
}

#menu_checkbox:checked + .cabecalho__icones__menu .cabecalho__icones__menu__imagem
{
    background: url(../img/menu_aberto.svg) no-repeat center;
}

.menu
{
    position: absolute;
    top: 100%;
    background-color: var(--cinza-header-menu);
    width: 65%;

    display: none;
    z-index: 10;
}

#menu_checkbox:checked ~ .menu
{
    display: block;
}


.menu__lista__titulo
{
    color: var(--laranja);
    font-weight: 700;
    padding: 1em;
}

.menu__lista__links
{
    color: var(--azul-escuro-dark);
    text-transform: uppercase;
    padding: 1em;
}

.menu__lista__links:active
{
    background: var(--gradiente-azul-escuro);
    color: var(--branco);
}

.cabecalho__icones__logo
{
    padding: 1em;
}

.cabecalho__icones__logo__titulo
{
    display: none;
}

#perfil_checkbox
{
    display: none;
}

.cabecalho__icones__favoritos, 
.cabecalho__icones__sacola, 
.cabecalho__icones__perfil
{
    display: flex;
    align-items: center;

    padding: 1em;
    position: relative;
    cursor: pointer;
}

.cabecalho__icones__sacola span,
.cabecalho__icones__perfil span
{
    display: none;
}

.opcoes
{
    display: none;
}

.login
{
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100vw;
    background-color: var(--cinza-header-menu);
    padding: 2em 2em;
    box-sizing: border-box;
    z-index: 100;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

    gap: 1em;
}

.login__campo.usuario,
.login__campo.senha
{
    display: flex;
    flex-direction: column;
    gap: 0.5em;
}

.login__campo__label
{
    color: var(--preto-semitransparente);
}

.login__campo__input[type="text"], 
.login__campo__input[type="password"]
{
    background-color: var(--cinza-fundo-input-login);
    background-repeat: no-repeat;
    background-size: 20px;
    background-position: 5%;
    height: 28px;
    border-radius: 8px;
    padding: .5em 15%;
}

.login__campo__input[type="text"]:focus, 
.login__campo__input[type="password"]:focus
{
    outline: 2px solid var(--laranja);
}

.login__campo__input[type="text"]
{
    background-image: url(../img/usuario.png);
}

.login__campo__input[type="password"]
{
    background-image: url(../img/cadeado.png);
}

.login__campo.checkbox .login__campo__label
{
    cursor: pointer;
}

.login__campo.submit
{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.5em;
}

.login__campo__input[type="submit"]
{
    color: var(--preto-semitransparente);
    background: var(--gradiente-laranja);
    border-radius: 5px;
    width: 100%;
    padding: 0.5em 0;
    cursor: pointer;
}

.login__campo__input[type="submit"]:hover
{
    background: var(--laranja);
}

.login__campo__link
{
    text-align: center;
    line-height: 20px;
    font-size: 0.8em;
    width: 26ch;
}

.login__campo__link .destaque:hover
{
    color: var(--laranja-hover);
}

@media screen and (min-width: 1024px) 
{
    .cabecalho
    {
        justify-content: space-evenly;
    }

    .cabecalho__icones
    {
        position: relative;
        justify-content: flex-end;
    }

    .cabecalho__icones__menu
    {
        display: none;
    }

    .cabecalho__icones__logo
    {
        display: flex;
        align-items: flex-end;
        gap: .75em;
    }

    .cabecalho__icones__logo__titulo
    {
        display: inline;
        font-size: 1.875em;
        font-family: "Josefin Sans";
    }

    .cabecalho__icones__logo__titulo > .cabecalho__icones__logo__titulo--destaque
    {
        font-weight: 700;
    }

    .cabecalho__icones__favoritos
    {
        display: none;
    }

    .cabecalho__icones__sacola
    {
        margin-right: 20%;
    }

    .cabecalho__icones__sacola::after,
    .cabecalho__icones__perfil::after
    {
        content: '';
        display: block;
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 10px;
        transform: rotateY(90deg);
        background-color: var(--laranja);
        transition: all 500ms;
    }

    .cabecalho__icones__sacola:hover::after,
    #perfil_checkbox:checked + .cabecalho__icones__perfil::after
    {
        transform: rotateY(0deg);
    }

    .opcoes
    {
        display: flex;
        padding-top: 0.5em;
        align-items: center;
    }

    #opcoes__checkbox
    {
        display: none;
    }

    #opcoes__checkbox:checked ~ .menu
    {
        display: block;
    }

    .menu
    {
        width: 20%;
    }

    .menu__lista__links:hover
    {
        background: var(--gradiente-azul-escuro);
        color: var(--branco);
        cursor: pointer;
    }

    .opcoes__itens
    {
        height: 100%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #opcoes__checkbox:checked + .opcoes__itens
    {
        background: var(--azul-escuro-dark);
        color: var(--branco);
    }

    #opcoes__checkbox:checked + .opcoes__itens > .opcoes__itens:hover
    {
        background: var(--gradiente-laranja);
    }

    a.opcoes__itens, .opcoes__itens:first-child
    {
        padding: 0 1em;
        text-transform: uppercase;
    }

    a.opcoes__itens:hover, .opcoes__itens:first-child:hover
    {
        background: var(--azul-escuro-dark);
        color: var(--branco);
    }

    .login
    {
        width: 40vw;
    }

    .login__campo
    {
        font-size: 1.2em;
    }
}



@media screen and (min-width: 1728px) 
{
    .cabecalho
    {
        justify-content: flex-start;
    }

    .cabecalho__icones__logo
    {
        padding: 1.5em 2.5em 1.5em 5em;
    }

    .cabecalho__icones:nth-child(3)
    {
        position: absolute;
        right: 0;
        height: 100%;
        gap: 2em;
        margin-right: 2%;
    }

    .cabecalho__icones__sacola,
    .cabecalho__icones__perfil
    {
        gap: 0.5em;
        font-size: 1.25em;
        margin-right: 0;
    }

    .cabecalho__icones__sacola span,
    .cabecalho__icones__perfil span
    {
        display: inline;
    }

    .login
    {
        width: 30vw;
    }

    .login__campo
    {
        font-size: 1.3em;
    }
}