.cabecalho
{
    font-size: 1rem;
    background-color: var(--branco-principal);
    width: 100%;
    box-sizing: border-box;
    position: relative;

    display: flex;
    justify-content: space-between;
}

.cabecalho__icones
{
    display: flex;
    align-items: stretch;
}

#menu_checkbox
{
    display: none;
}

.cabecalho__icones__menu
{
    width: 36px;
    padding: 1em;
}

#menu_checkbox:checked + .cabecalho__icones__menu
{
    background: var(--gradiente-azul-escuro);
}

.cabecalho__icones__menu__imagem
{
    background-image: url(../img/menu.svg);
    background-repeat: no-repeat;
    background-position: center;
    display: block;
    width: 100%;
    height: 100%;
}

#menu_checkbox:checked + .cabecalho__icones__menu .cabecalho__icones__menu__imagem
{
    background: url(../img/menu_aberto.svg) no-repeat center;
}

.menu
{
    position: absolute;
    top: 100%;
    background-color: whitesmoke;
    width: 65%;

    display: none;
    z-index: 10;
}

#menu_checkbox:checked ~ .menu
{
    display: block;
}


.menu__lista__titulo
{
    color: var(--laranja-titulo);
    font-weight: 700;
    padding: 1em;
}

.menu__lista__links
{
    color: var(--azul-escuro-texto);
    text-transform: uppercase;
    padding: 1em;
}

.menu__lista__links:active
{
    background: var(--gradiente-azul-escuro);
    color: var(--branco-principal);
}

.cabecalho__icones__logo
{
    padding: 1em;
}

.cabecalho__icones__logo__titulo
{
    display: none;
}

.cabecalho__icones__favoritos, .cabecalho__icones__sacola, .cabecalho__icones__perfil
{
    display: flex;
    align-items: center;

    padding: 1em;
}

.cabecalho__icones__sacola span,
.cabecalho__icones__perfil span
{
    display: none;
}

.opcoes
{
    display: none;
}

@media screen and (min-width: 1024px) 
{
    .cabecalho
    {
        justify-content: space-evenly;
    }

    .cabecalho__icones__menu
    {
        display: none;
    }

    .cabecalho__icones__logo
    {
        display: flex;
        align-items: flex-end;
        gap: .75em;
    }

    .cabecalho__icones__logo__titulo
    {
        display: inline;
        font-size: 1.875em;
        font-family: "Josefin Sans";
    }

    .cabecalho__icones__logo__titulo > .cabecalho__icones__logo__titulo--destaque
    {
        font-weight: 700;
    }

    .cabecalho__icones__favoritos
    {
        display: none;
    }

    .opcoes
    {
        display: flex;
        padding-top: 0.5em;
        align-items: center;
    }

    #opcoes__checkbox
    {
        display: none;
    }

    #opcoes__checkbox:checked ~ .menu
    {
        display: block;
    }

    .menu
    {
        width: 20%;
    }

    .menu__lista__links:hover
    {
        background: var(--gradiente-azul-escuro);
        color: var(--branco-principal);
        cursor: pointer;
    }

    .opcoes__itens
    {
        height: 100%;
        cursor: pointer;

        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
    }

    #opcoes__checkbox:checked + .opcoes__itens
    {
        background: var(--gradiente-azul-escuro);
        color: var(--branco-principal);
    }

    #opcoes__checkbox:checked + .opcoes__itens > .opcoes__itens:hover
    {
        background: var(--gradiente-laranja);
    }

    a.opcoes__itens, .opcoes__itens:first-child
    {
        padding: 0 1em;
        text-transform: uppercase;
    }

    a.opcoes__itens:hover, .opcoes__itens:first-child:hover
    {
        background: var(--gradiente-azul-escuro);
        color: var(--branco-principal);
    }
}



@media screen and (min-width: 1728px) 
{
    .cabecalho
    {
        justify-content: flex-start;
    }

    .cabecalho__icones__logo
    {
        padding: 1.5em 2.5em 1.5em 5em;
    }

    .cabecalho__icones:nth-child(3)
    {
        position: absolute;
        right: 0;
        height: 100%;
        gap: 2em;
        margin-right: 2%;
    }

    .cabecalho__icones__sacola,
    .cabecalho__icones__perfil
    {
        gap: 0.5em;
        font-size: 1.25em;
    }

    .cabecalho__icones__sacola:hover,
    .cabecalho__icones__perfil:hover
    {
        text-decoration: underline var(--azul-escuro-texto) 4px;
    }

    .cabecalho__icones__sacola span,
    .cabecalho__icones__perfil span
    {
        display: inline;
    }
}