@import url("header.css");
@import url("banner.css");
@import url("carrossel.css");
@import url("card.css");
@import url("topicos.css");
@import url("newsletter.css");
@import url("rodape.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

:root
{
    --cinza-principal-fundo: #EBECEE;
    --cinza-secundario-fundo: #F9F9F9;
    --cinza-titulo-secao-rodape: #858585;
    --cinza-itens-rodape: #474646;
    --cinza-borda-rodape: #858585;
    --cinza-header-menu: whitesmoke;
    --cinza-fundo-input-login: #E7E6E6;
    --preto-semitransparente: rgba(0, 0, 0, 0.85);
    --azul-escuro-sombra-botao: #06304e;

    --branco: #FFFFFF;
    --azul-escuro-medio: #16476A;
    --azul-escuro-dark: #002F52;
    --laranja: #EB9B00;
    --laranja-hover: #DF840C;

    --gradiente-azul-escuro: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --gradiente-azul-escuro-carrossel-botao: linear-gradient(225deg, #063251, #185c8d);
    --gradiente-laranja: linear-gradient(to right bottom, #db9953, #e3a356, #ebad59, #f2b75c, #f9c15f);
    --gradiente-cinza-banner-clear: linear-gradient(to right bottom, #e7e8eb, #d9dddf, #ccd1d1, #c2c5c3, #b9b9b5);
}

body
{
    background-color: var(--cinza-principal-fundo);
    font-family: 'Poppins';
    font-weight: 400;
}