.topicos
{
    background-color: var(--branco-principal);
    width: 100%;
    box-sizing: border-box;
    padding-top: 1em;
}

.topicos__container
{
    background: var(--gradiente-azul-escuro);
    color: var(--branco-principal);
    padding: 1.5em 0em;
}

.topicos__container__titulo
{
    font-weight: 300;
    text-align: center;
    text-transform: uppercase;
}

.topicos__container__lista
{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;

    padding-top: 2em;
}

.topicos__container__lista__itens
{
    font-weight: 700;
    background-color: var(--laranja-titulo);
    display: inline-block;
}

a.topicos__container__lista__itens
{
    padding: 1em 0.875em;
    font-size: 0.875em;
}

a.topicos__container__lista__itens:hover
{
    background-color: rgb(223, 132, 12);
}

@media screen and (min-width: 1024px) 
{
    .topicos__container
    {
        padding: 2em;
        
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .topicos__container__titulo
    {
        font-size: 1.5em;
    }

    .topicos__container__lista
    {
        gap: 1.5em;
        width: 80%;
    }

    li.topicos__container__lista__itens
    {
        font-size: 1.5em;
    }
}

@media screen and (min-width: 1728px) 
{
    
}